back/node_modules
back/package-lock.json
back/package.json
# back/uploads

frontend/node_modules
frontend/package-lock.json
frontend/package.json
# frontend/uploads


/node_modules
/package-lock.json
/package.json
# /uploads